:root{
    --angle: 0deg;
}

@font-face {
    font-family: Tetris;
    src: url(../resources/ARCADE_N.TTF);
}
@font-face {
    font-family: Tetris2;
    src: url(../resources/Pixelmania.ttf);
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../resources/background.jpg);
    font-family: Tetris;
}

.border_div{
    width: 860px;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--angle), rgba(255,0,0,0.5) 0%, rgba(254,255,0,0.5) 33%, rgba(32,250,31,0.5) 66%, rgba(0,212,255,0.5) 100%);
    border-radius: 25px;
    animation: spin 5s linear infinite;
}

@keyframes spin{
    0%{--angle: 0deg;}
    10%{--angle: 36deg;}
    20%{--angle: 72deg;}
    30%{--angle: 108deg;}
    40%{--angle: 144deg;}
    50%{--angle: 180deg;}
    60%{--angle: 216deg;}
    70%{--angle: 252deg;}
    80%{--angle: 288deg;}
    90%{--angle: 324deg;}
    100%{--angle: 360deg;}
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.tetris{
    height: 750px;
}

.container{
    width: 250px;
    height: 750px;
    background-color: #888888CC;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container button{
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: #ccc;
    font-size: 15px;
    font-family: Tetris2;
    cursor: pointer;
}

.left{
    border-radius: 20px 0 0 20px;
}

.right{
    border-radius: 0 20px 20px 0;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#next{
    border: solid 2px #000;
}

.modal_container{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.555);
    visibility: hidden;
}

.modal{
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border_login{
    width: 410px;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--angle), rgba(255,0,0,0.5) 0%, rgba(254,255,0,0.5) 33%, rgba(32,250,31,0.5) 66%, rgba(0,212,255,0.5) 100%);
    border-radius: 25px;
    animation: spin 5s linear infinite;
}

.login_container{
    height: 400px;
    width: 400px;
    border-radius: 20px;
}

.login_modal{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.555);
    visibility: hidden;
}

.alert_modal{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.555);
    visibility: hidden;
}

.alert_container{
    width: 350px;
    height: 400px;
    background-color: #aaa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.alert_modal button{
    width: 200px;
    min-height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: #ccc;
    font-size: 15px;
    font-family: Tetris2;
    cursor: pointer;
}
.alert_modal button:hover{
    background-color: rgba(245, 16, 16, 0.473);
}

#create_user{
    height: 100px;
}
#create_user:hover{
    background-color: rgba(119, 245, 16, 0.473);
}

.modal_show{
    visibility: visible;
}

.hide{
    visibility: hidden;
}

.hide_btn{
    display: none;
}

form input{
    width: 300px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

#submit{
    width: 120px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-family: Tetris2;
    cursor: pointer;
}

#start-button:hover{
    background-color: rgba(119, 245, 16, 0.473);
}
#pause-button:hover{
    background-color: rgba(222, 245, 16, 0.55);
}
#reset-button:hover{
    background-color: rgba(245, 16, 16, 0.473);
}

form{
    background-color: transparent !important;
}